body {
  padding: 2em;
}

#table {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50%;
}

#center {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 295px;
  top: 295px;
  background: #000;
}

.seat {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #f00;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
}

.player-name {
  text-align: center;
  position: relative;
}

.wallet {
  display: flex;
  flex-direction: row;
}

.coin-stack {
  width: 20px;
  height: 20px;
  position: relative;
  background: rgb(24, 199, 36);
}

.coin {
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  border-radius: 50%;
}

.coin-0 {
  background-color: blue;
}

.coin-5 {
  background-color: red;
}

.coin-10 {
  background-color: yellow;
}

.coin-25 {
  background-color: green;
}

.coin-50 {
  background-color: purple;
}

.pouch {
  display: flex;
  flex-direction: row;
}
