* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  padding: 2em;
  height: 100vh;
  overflow: hidden;
}

.essential-button {
  position: absolute;
  margin: 0 auto;
}

.table {
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.button-box {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
}

.center {
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.middle {
  position: relative;
  top: 50%;
  margin: 0 auto;
}

.stand {
  width: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 50%;
  margin: 0 auto;
}

.status-box {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 50%;
  margin: 0 auto;
}

.timer {
  position: relative;
  text-align: center;
  font-family: "Monaco", monospace;
  top: 50%;
  margin: 0 auto;
}

.seat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center center;
}

.player-name {
  text-align: center;
  position: relative;
}

.wallet {
  display: flex;
  flex-direction: row;
}

.wallet-hidden {
  background-color: rgb(76, 76, 76);
}

.role {
  width:40px;
  height:40px;
}

.role-turn {
  color: gold;
  background-color: gold;
}

.role-target {
  color: pink;
  background-color: pink;
}

.role-canceled {
  color: red;
  background-color: red;
}

.role-submitted {
  color: blue;
  background-color: blue;
}

.role-highest-bidder {
  color: rgb(0, 255, 0);
  background-color: rgb(0, 255, 0);
}

.coin-stack {
  width: 20px;
  min-height: 20px;
  transform: rotate(180deg);
  position: relative;
  background: rgb(228, 228, 228);
  border-radius: 20%;
}

.coin {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  text-align: center;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  font-size: 14px;
  font-family: "Monaco", monospace;
}

.coin-0 {
  background-color: rgb(90, 90, 255);
}

.coin-5 {
  background-color: rgb(255, 90, 90);
}

.coin-10 {
  background-color: rgb(255, 255, 90);
}

.coin-25 {
  background-color: rgb(45, 128, 45);
}

.coin-50 {
  background-color: rgb(128, 45, 128);
}

.pouch {
  display: flex;
  flex-direction: row;
}

.item-box {
  width: 30px;
  height: 30px;
}

.item {
  position: relative;
  border-radius: 20%;
}

.item-text {
  top: 10%;
  left: 0;
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-family: "Monaco", monospace;
  color: black;
  text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
}

.item-icon {
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  position: relative;
  border-radius: 20%;
}

.targetable {
  box-shadow: 0px 0px 5px 5px black;
  z-index: 2;
}

.ice {
  background-color: rgb(159, 220, 240);
}

.rock {
  background-color: rgb(51, 52, 58);
  border-color: rgb(255, 0, 0);
}

.bread {
  background-color: rgb(158, 116, 44);
}

.carrot {
  background-color: rgb(231, 112, 26);
}

.pill {
  background-color: rgb(61, 161, 151);
}

.fish {
  background-color: rgb(80, 129, 219);
}

.log {
  background-color: rgb(179, 105, 58);
  color: rgb(255, 255, 255);
}

.cherry {
  background-color: rgb(194, 18, 68);
  color: white;
}

.water {
  background-color: rgb(42, 0, 179);
}

.sauce {
  background-color: rgb(245, 107, 107);
}

.juice {
  background-color: rgb(255, 255, 0);
}

.mold {
  background-color: rgb(112, 231, 116);
}

.virus {
  background-color: rgb(178, 92, 200);
}

.kettle {
  background-color: rgb(197, 197, 197);
}

.leg {
  background-color: rgb(220, 144, 30);
}