* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

:root {
  --coin-size: 20px;
  --item-size: 30px;
  --hidden-wallet-width: 100px;
  --hidden-wallet-height: 80px;
}

body {
  padding: 2em;
  height: 100vh;
  overflow: hidden;
}

.restart-game {
  position: absolute;
  margin: 0 auto;
  bottom: 0%;
  left: 0%;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 12px 17px;
  border-radius: 50px;
  background-color: lightgray;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.essential-button {
  position: absolute;
  margin: 0 auto;
  bottom: 0%;
  left: 50%;
}

.winner {
  position: absolute;
  bottom: 50%;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.winner-text {
  color: #111;
  font-family: 'Monaco', monospace;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.table {
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.table-texture {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  z-index: -10;
}

.button-box {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(132, 132, 255);
}

.button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 12px 17px;
  border-radius: 50px;
  background-color: lightgray;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.button-toggled {
  background-color: gray;
}

.center {
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.middle {
  position: relative;
  top: 50%;
  margin: 0 auto;
}

.stand {
  width: calc(2 * var(--item-size));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 50%;
  margin: 0 auto;
}

.status-box {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 50%;
  margin: 0 auto;
}

.timer {
  position: relative;
  text-align: center;
  font-family: 'Monaco', monospace;
  top: 50%;
  margin: 0 auto;
}

.seat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center center;
}

.player-name {
  text-align: center;
  position: relative;
}

.wallet {
  display: flex;
  flex-direction: row;
}

.wallet-hidden {
  width: var(--hidden-wallet-width);
  height: var(--hidden-wallet-height);
  background-color: rgb(76, 76, 76);
  border-radius: 20%;
  z-index: 2;
}

.own-hidden {
  background-color: rgba(76, 76, 76, 0.4);
}

.wallet-hidden-icon {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  object-fit: contain;
  border-radius: 20%;
  z-index: 3;
}

.role {
  width: 40px;
  height: 40px;
}

.role-turn {
  color: gold;
  background-color: gold;
}

.role-target {
  color: pink;
  background-color: pink;
}

.role-canceled {
  color: red;
  background-color: red;
}

.role-submitted {
  color: blue;
  background-color: blue;
}

.role-highest-bidder {
  color: rgb(0, 255, 0);
  background-color: rgb(0, 255, 0);
}

.coin-stack {
  width: var(--coin-size);
  min-height: var(--coin-size);
  transform: rotate(180deg);
  position: relative;
  border-radius: 20%;
}

coin-stack-pot {
  background: rgb(228, 228, 228);
}

.coin {
  width: var(--coin-size);
  height: var(--coin-size);
  transform: rotate(180deg);
  text-align: center;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  font-size: 14px;
  font-family: 'Monaco', monospace;
  transition: all 0.2s ease-in-out;
}

.coin:hover {
  transform: rotate(180deg) scale(1.1);
  z-index: 2;
}

.coin-0 {
  background-color: rgb(90, 90, 255);
}

.coin-5 {
  background-color: rgb(255, 90, 90);
}

.coin-10 {
  background-color: rgb(255, 255, 90);
}

.coin-25 {
  background-color: rgb(45, 128, 45);
}

.coin-50 {
  background-color: rgb(128, 45, 128);
}

.pouch {
  display: flex;
  flex-direction: row;
}

.item-box {
  width: var(--item-size);
  height: var(--item-size);
}

.item {
  position: relative;
  border-radius: 20%;
  transition: all 0.4s ease-in-out;
}

.item:hover {
  transform: scale(2);
  z-index: 2;
}

.item-text {
  top: 10%;
  left: 0;
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-family: 'Monaco', monospace;
  color: black;
  text-shadow: 0.07em 0 white, 0 0.07em white, -0.07em 0 white, 0 -0.07em white;
}

.item-text:hover {
  font-size: 0px;
  display: block;
}

.item-icon {
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  border-radius: 20%;
}

.targetable {
  box-shadow: 0px 0px 5px 5px black;
  z-index: 2;
}
