.ice {
  background-color: rgb(159, 220, 240);
}

.rock {
  background-color: rgb(51, 52, 58);
  border-color: rgb(255, 0, 0);
}

.bread {
  background-color: rgb(158, 116, 44);
}

.carrot {
  background-color: rgb(231, 112, 26);
}

.pill {
  background-color: rgb(61, 161, 151);
}

.fish {
  background-color: rgb(80, 129, 219);
}

.log {
  background-color: rgb(179, 105, 58);
  color: rgb(255, 255, 255);
}

.cherry {
  background-color: rgb(194, 18, 68);
  color: white;
}

.water {
  background-color: rgb(42, 0, 179);
}

.sauce {
  background-color: rgb(245, 107, 107);
}

.juice {
  background-color: rgb(255, 255, 0);
}

.mold {
  background-color: rgb(112, 231, 116);
}

.virus {
  background-color: rgb(178, 92, 200);
}

.kettle {
  background-color: rgb(197, 197, 197);
}

.leg {
  background-color: rgb(220, 144, 30);
}

.sushi {
  background-color: rgb(164, 222, 148);
}

.brick {
  background-color: rgb(209, 111, 72);
}

.computer {
  background-color: rgb(161, 177, 209);
}

.mellon {
  background-color: rgb(75, 185, 20);
}

.spaghetti {
  background-color: rgb(248, 203, 119);
}

.onigiri {
  background-color: rgb(155, 215, 178);
}

.shrimp {
  background-color: rgb(92, 120, 245);
}

.gear {
  background-color: rgb(165, 64, 64);
}

.light {
  background-color: rgb(244, 242, 143);
}

.shirt {
  background-color: rgb(176, 176, 176);
}

.tools {
  background-color: rgb(96, 96, 96);
}

.present {
  background-color: rgb(255, 86, 86);
}

.tree {
  background-color: rgb(157, 215, 247);
}

.wreath {
  background-color: rgb(164, 57, 57);
}

.turkey {
  background-color: rgb(255, 115, 115);
}

.pumpkin {
  background-color: rgb(86, 86, 86);
}

.leaf {
  background-color: rgb(207, 234, 126);
}

.magnet {
  background-color: rgb(164, 164, 164);
}

.ant {
  background-color: rgb(139, 105, 76);
}

.anthill {
  background-color: rgb(123, 181, 238);
}

.bee {
  background-color: rgb(81, 221, 71);
}

.beehive {
  background-color: rgb(213, 164, 40);
}

.soccer {
  background-color: rgb(77, 180, 57);
}

.cast {
  background-color: rgb(107, 168, 194);
}

.tooth {
  background-color: rgb(227, 227, 187);
}

.incognito {
  background-color: rgb(111, 111, 111);
}

.hat {
  background-color: rgb(209, 172, 124);
}

.soup {
  background-color: rgb(65, 146, 233);
}

.banana {
  background-color: rgb(252, 249, 82);
}

.mario {
  background-color: rgb(0, 0, 0);
}

.minecraft {
  background-image: linear-gradient(
    to top left,
    rgb(74, 105, 197),
    rgb(129, 160, 255)
  );
}

.tetris {
  background-image: linear-gradient(rgb(145, 246, 145), rgb(53, 219, 32));
}

.sun {
  background-color: rgb(117, 197, 250);
}

.galaxy {
  background-color: rgb(99, 66, 66);
}

.planet {
  background-color: rgb(91, 66, 81);
}

.comet {
  background-color: rgb(58, 89, 100);
}

.satellite {
  background-color: rgb(68, 98, 64);
}

.gasoline {
  background-color: rgb(222, 107, 121);
}

.house {
  background-color: rgb(212, 121, 235);
}

.strawberry {
  background-color: rgb(229, 105, 115);
}

.blueberry {
  background-color: rgb(82, 122, 214);
}

.dango {
  background-color: rgb(190, 77, 227);
}

.cake {
  background-color: rgb(228, 54, 184);
}

.cookie {
  background-color: rgb(179, 155, 134);
}

.chocolate {
  background-color: rgb(240, 72, 72);
}

.rot {
  background-color: rgb(141, 156, 115);
}

.poop {
  background-color: rgb(239, 208, 104);
}

.soap {
  background-color: rgb(126, 218, 222);
}

.toothbrush {
  background-color: rgb(109, 212, 218);
}

.milk {
  background-color: rgb(251, 255, 148);
}

.butter {
  background-color: rgb(251, 223, 121);
}

.grass {
  background-color: rgb(182, 150, 99);
}

.plane {
  background-color: rgb(144, 233, 255);
}

.car {
  background-color: rgb(180, 180, 180);
}

.paper {
  background-color: rgb(214, 148, 237);
}

.pencil {
  background-color: rgb(242, 224, 105);
}

.blackberry {
  background-color: rgb(173, 75, 195);
}

.pong {
  background-image: linear-gradient(
    to right,
    rgb(109, 212, 109),
    rgb(112, 112, 255)
  );
}

.universe {
  background-color: rgb(120, 120, 120);
}

.motorcycle {
  background-color: rgb(160, 160, 160);
}

.tornado {
  background-color: rgb(136, 190, 193);
}

.wine {
  background-color: rgb(239, 165, 100);
}

.cheese {
  background-color: rgb(242, 227, 127);
}

.clouds {
  background-color: rgb(124, 230, 226);
}

.dice {
  background-color: rgb(209, 122, 171);
}

.icecream {
  background-color: rgb(231, 130, 234);
}

.bike {
  background-color: rgb(177, 208, 176);
}

.skateboard {
  background-color: rgb(162, 157, 144);
}

.baseball {
  background-color: rgb(104, 209, 117);
}

.basketball {
  background-color: rgb(237, 153, 58);
}

.borshe {
  background-color: rgb(168, 108, 78);
}

.Pierogi {
  background-color: rgb(250, 250, 202);
}

.matzah {
  background-color: rgb(189, 234, 255);
}

.paella {
  background-color: rgb(255, 187, 187);
}

.taco {
  background-color: rgb(192, 255, 183);
}

.burger {
  background-color: rgb(221, 161, 104);
}

.football {
  background-color: rgb(52, 159, 63);
}

.lollipop {
  background-color: rgb(233, 86, 208);
}

.fork {
  background-color: rgb(149, 190, 190);
}

.knife {
  background-color: rgb(149, 190, 190);
}

.spoon {
  background-color: rgb(149, 190, 190);
}

.clock {
  background-color: rgb(219, 219, 219);
}

.cactus {
  background-color: rgb(228, 225, 129);
}

.boat {
  background-color: rgb(84, 66, 201);
}

.helicopter {
  background-color: rgb(113, 165, 233);
}

.rocket {
  background-color: rgb(85, 85, 85);
}

.penguin {
  background-color: rgb(192, 230, 233);
}

.bell {
  background-color: rgb(249, 233, 168);
}

.medal {
  background-color: rgb(156, 222, 204);
}

.bitcoin {
  background-color: rgb(230, 234, 129);
}

.map {
  background-color: rgb(185, 45, 45);
}

.top {
  background-color: rgb(72, 177, 121);
}

.birthday {
  background-color: rgb(213, 136, 214);
}
.kite {
  background-color: rgb(101, 96, 239);
}

.needle {
  background-color: rgb(182, 128, 226);
}

.thimble {
  background-color: rgb(182, 138, 138);
}

.syringe {
  background-color: rgb(244, 129, 236);
}

.thread {
  background-color: rgb(209, 114, 114);
}

.teddy {
  background-color: rgb(222, 160, 99);
}

.tophat {
  background-color: rgb(210, 167, 179);
}

.heels {
  background-color: rgb(236, 76, 196);
}

.fries {
  background-color: rgb(236, 94, 81);
}

.diamond {
  background-color: rgb(151, 238, 233);
}

.microphone {
  background-color: rgb(19, 150, 82);
}

.sax {
  background-color: rgb(234, 225, 101);
}

.tuba {
  background-color: rgb(236, 229, 102);
}

.violin {
  background-color: rgb(215, 150, 66);
}

.ring {
  background-color: rgb(215, 141, 234);
}

.handbag {
  background-color: rgb(241, 146, 146);
}

.backpack {
  background-color: rgb(123, 128, 216);
}

.phone {
  background-color: rgb(81, 152, 182);
}

.camera {
  background-color: rgb(90, 212, 196);
}

.candle {
  background-color: rgb(230, 181, 35);
}

.book {
  background-color: rgb(145, 102, 28);
}

.dune {
  background-color: rgb(255, 226, 38);
}

.looking {
  background-color: rgb(123, 255, 240);
}

.flashlight {
  background-color: rgb(245, 201, 113);
}

.glasses {
  background-color: rgb(182, 225, 243);
}

.saw {
  background-color: rgb(188, 234, 158);
}

.scissors {
  background-color: rgb(156, 152, 213);
}

.squirrel {
  background-color: rgb(106, 177, 91);
}

.broccoli {
  background-color: rgb(213, 225, 122);
}

.stool {
  background-color: rgb(172, 182, 191);
}

.toilet {
  background-color: rgb(174, 216, 225);
}

.bandaid {
  background-color: rgb(233, 198, 141);
}

.microscope {
  background-color: rgb(108, 232, 47);
}

.telescope {
  background-color: rgb(78, 72, 72);
}
